<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="DataAccessProvider" value="SqlRepository" />
    <add key="EmailLogPath" value="C:\\EmailLog.txt" />
    <add key="CreateDataBaseQuery" value="000_CreateDataBase_MabnaRefactoringSample.sql" />
  </appSettings>

  <connectionStrings>
    <add name="MabnaDataBase" connectionString="Data Source=.\sqlexpress;Initial Catalog=MabnaRefactoringSample;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
